<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help Center</title>
    <link rel="stylesheet" href="cre.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    
</head>

<body>
    <div class="cabeca">
        <h1>Help Center - Creditos | <img id="im3" src="img/ma.png"  alt="ams"> 
          <a href="log">
            <img src="img/image 2.png" alt="login2" id="im4">
          </a></h1>

    </div>
    <!--Inicio Menu-->
    <div class="sidebar close">
      
        <div class="logo-details">
          
          <i class="bx bx-menu"></i>
          <span class="logo_name">Menu</span>
       
        </div>
        
        <ul class="nav-links">
            <!--Início-->
          <li>
            
            <a href="/">
              <i class='bx bx-grid-alt' ></i>
              <span class="link_name">Início</span>
            </a>
              
            <ul class="sub-menu blank">
              <li><a class="link_name" href="/">Início</a></li>
            </ul>
            
          </li>
          <!--Fim!-->
          <li>
            
            <a href="du">
              <i class='bx bx-pie-chart-alt-2' ></i>
              <span class="link_name">DUDH</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" href="du">DUDH</a></li>
            </ul>
          </li>
          <!--Posts-->
          <li>
            
            <div class="iocn-link">
              
              <a href="#">
                <i class='bx bx-book-alt' ></i>
                <span class="link_name">Posts</span>
              </a>
              
              <i class='bx bxs-chevron-down arrow' ></i>
            
            </div>
            
            <ul class="sub-menu">
            
              <li><a class="link_name" href="#">Posts</a></li>
              <li><a href="cre">Créditos</a></li>
            
            </ul>
          </li>
          <!--Fim!-->
          
          <li>
            
            <a href="#">
              <i class='bx bx-cog' ></i>
              <span class="link_name">Configurações</span>
            </a>
            
            <ul class="sub-menu blank">
              <li><a class="link_name" href="#">Configurações</a></li>
            </ul>
          </li>
          <li>
        
            <div class="profile-details">
              
              <div class="profile-content">
                <!--<img src="image/profile.jpg" alt="profileImg">-->
              </div>
              
              <div class="name-job">
                
                <div class="profile_name">Help Center</div>
                <div class="job">Créditos</div>
              
              </div>
              
              <i class="bx bx-log-out"></i>
            
            </div>
          
          </li>
        </ul>
      </div>
      <!--Fecha Menu-->
      <script>
  
        let arrow = document.querySelectorAll(".arrow");
        for (var i = 0; i < arrow.length; i++) {
          arrow[i].addEventListener("click", (e)=>{
         let arrowParent = e.target.parentElement.parentElement;
         arrowParent.classList.toggle("showMenu");
          });
        }
        
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".bx-menu");
        console.log(sidebarBtn);
        sidebarBtn.addEventListener("click", ()=>{
          sidebar.classList.toggle("close");
        });
    </script>
        
        <figure class="card">
     
          <img src="uploads/Rapha.jpg" alt="Rapha" title="Rapha" />
          <figcaption>
           
            <h2>Rafhael Souza</h2>
            <ul class="links">
              <li> <a href="https://www.instagram.com/_zrapha_/"> <i class="icon icon-instagram"></i> Instagram</a></li>
              <li> <a href="https://twitter.com/R4fh41"> <i class="icon icon-twitter"></i> Twitter</a></li>
              <li> <a href="https://www.youtube.com/channel/UCGXI9PGl5U2d1xxMI96zalg"> <i class="icon icon-youtube"></i> Youtube</a></li>
            </ul>
          </figcaption>
        </figure>
        
        <!--cred card 2-->
        <figure class="card22">
     
          <img src="uploads/dudh.png" alt="Front-end" title="Front-end" />
          <figcaption>
           
            <h2>Kauan Gavinho</h2>
            <ul class="links">            
              <li> <a href="https://www.instagram.com/kauan_gavinho/"> <i class="icon icon-instagram"></i> Instagram</a></li>
            </ul>
          </figcaption>
        </figure>
    </body>