<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help Center</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
    <div class="cabeca">
        <h1>Help Center - DUDH</h1>
    </div>
    <div class="menu">
        <a href="/">
                <p>Início</p>
        <a href="du">
                <p>DUDH</p>
    </div>
    <div class="conteudo">
        <div class="coluna-lateral-esquerda"> 
            <h2>Lado</h2>
            <p>coluna da esquerda</p>
        </div>
    </div>
</body>
</html>