<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help Center</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
    <div class="cabeca">
        <h1>Help Center - DUDH | <img id="im3" src="img/ma.png" alt="ams">
            <a href="log">
                <img src="img/image 2.png" alt="login2" id="im5">
              </a>
            </h1>

    </div>
    <div class="menu">
        <a href="/">
            <p>Início</p>
            <a href="du">
                <p>
                    DUDH
                </p>
            </a>
           

    </div>
    <div class="conteudo">
        <h1 id="hh1">Declaração Universal dos Direitos Humanos</h1>
        <a href="https://www.unicef.org/brazil/declaracao-universal-dos-direitos-humanos">
            <img src="img\dudh.png" alt="ilustrativo">
          </a>
        <p>Clique na imagem</p>
        </div>
    </div>
</body>
</html>