<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help Center</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="cabeca">
        <h1>Help Center | <img id="im3" src="img/ma.png"  alt="ams"> 
          <a href="log">
            <img src="img/image 2.png" alt="login2" id="im5">
          </a></h1>

    </div>
    <div class="menu">
        <a href="/">
            <p>Início</p>
            <a href="du">
                <p>
                    DUDH
                </p>
            </a>
           

    </div>
    <div class="conteudo">
        <div class="coluna-lateral-esquerda">
            <img id="im1" src="img/referencias.png" alt="Criança">
            <p >
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa aspernatur aut fugit fugiat, incidunt et
                enim quod nostrum ea, reprehenderit laudantium quis labore dolores debitis maiores deserunt deleniti,
                saepe doloremque?Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat natus molestias eos
                aperiam similique quisquam accusantium repudiandae quam neque sed corporis animi, numquam nam
                consectetur? Ipsum necessitatibus quaerat totam. Consequatur.Lorem ipsum dolor sit, amet consectetur
                adipisicing elit. Culpa aspernatur aut fugit fugiat, incidunt et
                enim quod nostrum ea, reprehenderit laudantium quis labore dolores debitis maiores deserunt deleniti,
                saepe doloremque?Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat natus molestias eos
                aperiam similique quisquam accusantium repudiandae quam neque sed corporis animi, numquam nam
                consectetur? Ipsum necessitatibus quaerat totam. Consequatur.</p>
        </div>
    </div>
    <div class="coluna-lateral-direita">
       
        <img id="im2" src="img\fome-no-mundo 1.png" alt="Fome no mundo">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum perspiciatis eligendi facere quae laboriosam
            reiciendis tempora quaerat. Aliquid cum, earum dolor eaque laudantium officia quidem facere quia at, et
            adipisci.</p>
    </div>
    </div>

</body>

</html>