<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help Center</title>
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="cabeca">
        <h1>Help Center | <img id="im3" src="img/ma.png"  alt="ams"> 
          <a href="log">
            <img src="img/image 2.png" alt="login2" id="im4">
          </a></h1>

    </div>
    <!--Inicio Sidebar-->
    <div class="sidebar close">
      
        <div class="logo-details">
          
          <i class="bx bx-menu"></i>
          <span class="logo_name">Menu</span>
       
        </div>
        
        <ul class="nav-links">
        
          <li>
            
            <a href="#">
              <i class='bx bx-grid-alt' ></i>
              <span class="link_name">Dashboard</span>
            </a>
              
            <ul class="sub-menu blank">
              <li><a class="link_name" href="#">Home</a></li>
            </ul>
            
          </li>
          
          <li>
            
            <div class="iocn-link">
              
              <a href="#">
                <i class='bx bx-collection' ></i>
                <span class="link_name">Categoria</span>
              </a>
              
              <i class='bx bxs-chevron-down arrow' ></i>
            
            </div>
            
            <ul class="sub-menu">
              
              <li><a class="link_name" href="#">Categoria</a></li>
              <li><a href="#">HTML</a></li>
              <li><a href="#">Css</a></li>
              <li><a href="#">JavaScript</a></li>
              <li><a href="#">WordPress</a></li>
            
            </ul>
            
          </li>
          
          <li>
            
            <div class="iocn-link">
              
              <a href="#">
                <i class='bx bx-book-alt' ></i>
                <span class="link_name">Posts</span>
              </a>
              
              <i class='bx bxs-chevron-down arrow' ></i>
            
            </div>
            
            <ul class="sub-menu">
            
              <li><a class="link_name" href="#">Posts</a></li>
              <li><a href="#">Seo</a></li>
              <li><a href="#">Técnologia</a></li>
            
            </ul>
          </li>
          <li>
            
            <a href="#">
              <i class='bx bx-pie-chart-alt-2' ></i>
              <span class="link_name">Analytics</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" href="#">Analytics</a></li>
            </ul>
          </li>
          
          <li>
            
            <a href="#">
              <i class='bx bx-line-chart' ></i>
              <span class="link_name">Chart</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" href="#">Chart</a></li>
            </ul>
          </li>
          <li>
            
            <div class="iocn-link">
            
              <a href="#">
                <i class='bx bx-plug' ></i>
                <span class="link_name">Plugins</span>
              </a>
              
              <i class='bx bxs-chevron-down arrow' ></i>
              
            </div>
            
            <ul class="sub-menu">
              <li><a class="link_name" href="#">Plugins</a></li>
              <li><a href="#">Formularios</a></li>
              <li><a href="#">Menus</a></li>
              <li><a href="#">SlideShow</a></li>
            </ul>
          </li>
          
          <li>
          
            <a href="#">
              <i class='bx bx-compass' ></i>
              <span class="link_name">Explore</span>
            </a>
            
            <ul class="sub-menu blank">
              <li><a class="link_name" href="#">Explore</a></li>
            </ul>
          </li>
          <li>
            
            <a href="#">
              <i class='bx bx-history'></i>
              <span class="link_name">Histórico</span>
            </a>
            
            <ul class="sub-menu blank">
              <li><a class="link_name" href="#">Histórico</a></li>
            </ul>
          </li>
            
          <li>
            
            <a href="#">
              <i class='bx bx-cog' ></i>
              <span class="link_name">Configurações</span>
            </a>
            
            <ul class="sub-menu blank">
              <li><a class="link_name" href="#">Configurações</a></li>
            </ul>
          </li>
          <li>
        
            <div class="profile-details">
              
              <div class="profile-content">
                <!--<img src="image/profile.jpg" alt="profileImg">-->
              </div>
              
              <div class="name-job">
                
                <div class="profile_name">Loop Nerd</div>
                <div class="job">Front-end</div>
              
              </div>
              
              <i class="bx bx-log-out"></i>
            
            </div>
          
          </li>
        </ul>
      </div>
      <!--Fecha Sidebar-->
      <script>
  
        let arrow = document.querySelectorAll(".arrow");
        for (var i = 0; i < arrow.length; i++) {
          arrow[i].addEventListener("click", (e)=>{
         let arrowParent = e.target.parentElement.parentElement;
         arrowParent.classList.toggle("showMenu");
          });
        }
        
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".bx-menu");
        console.log(sidebarBtn);
        sidebarBtn.addEventListener("click", ()=>{
          sidebar.classList.toggle("close");
        });
    </script>
    <div class="conteudo">
        <div class="coluna-lateral-esquerda">
            <img id="im1" src="img/referencias.png" alt="Criança">
            <p >
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa aspernatur aut fugit fugiat, incidunt et
                enim quod nostrum ea, reprehenderit laudantium quis labore dolores debitis maiores deserunt deleniti,
                saepe doloremque?Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat natus molestias eos
                aperiam similique quisquam accusantium repudiandae quam neque sed corporis animi, numquam nam
                consectetur? Ipsum necessitatibus quaerat totam. Consequatur.Lorem ipsum dolor sit, amet consectetur
                adipisicing elit. Culpa aspernatur aut fugit fugiat, incidunt et
                enim quod nostrum ea, reprehenderit laudantium quis labore dolores debitis maiores deserunt deleniti,
                saepe doloremque?Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat natus molestias eos
                aperiam similique quisquam accusantium repudiandae quam neque sed corporis animi, numquam nam
                consectetur? Ipsum necessitatibus quaerat totam. Consequatur.</p>
        </div>
    
    <div class="coluna-lateral-direita">
       
        <img id="im2" src="img\fome-no-mundo 1.png" alt="Fome no mundo">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum perspiciatis eligendi facere quae laboriosam
            reiciendis tempora quaerat. Aliquid cum, earum dolor eaque laudantium officia quidem facere quia at, et
            adipisci.
        </p>
    </div>
</div>

</body>

</html>