<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help Center</title>
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="cabeca">
        <h1>Help Center | <img id="im3" src="img/ma.png"  alt="ams"> 
          <a href="log">
            <img src="img/image 2.png" alt="login2" id="im4">
          </a></h1>

    </div>
    <!--Inicio Menu-->
    <div class="sidebar close">
      
        <div class="logo-details">
          
          <i class="bx bx-menu"></i>
          <span class="logo_name">Menu</span>
       
        </div>
        
        <ul class="nav-links">
            <!--Início-->
          <li>
            
            <a href="/">
              <i class='bx bx-grid-alt' ></i>
              <span class="link_name">Início</span>
            </a>
              
            <ul class="sub-menu blank">
              <li><a class="link_name" href="/">Início</a></li>
            </ul>
            
          </li>
          <!--Fim!-->
          <li>
            
            <a href="du">
              <i class='bx bx-pie-chart-alt-2' ></i>
              <span class="link_name">DUDH</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" href="du">DUDH</a></li>
            </ul>
          </li>
          <li>
        
            <div class="profile-details">
              
              <div class="profile-content">
                <!--<img src="image/profile.jpg" alt="profileImg">-->
              </div>
              
              <div class="name-job">
                
                <div class="profile_name">Help Center</div>
                <div class="job">Início</div>
              
              </div>
              
              <i class="bx bx-log-out"></i>
            
            </div>
          
          </li>
        </ul>
      </div>
      <!--Fecha Menu-->
      <script>
  
        let arrow = document.querySelectorAll(".arrow");
        for (var i = 0; i < arrow.length; i++) {
          arrow[i].addEventListener("click", (e)=>{
         let arrowParent = e.target.parentElement.parentElement;
         arrowParent.classList.toggle("showMenu");
          });
        }
        
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".bx-menu");
        console.log(sidebarBtn);
        sidebarBtn.addEventListener("click", ()=>{
          sidebar.classList.toggle("close");
        });
    </script>
    <!--Teste foto-->
    <div class="card">
      <div class="card-img" style="background-image:url('img/referencias.png')">
          <div class="overlay">
              <div class="overlay-content">
                  <a href="https://www.unicef.org/brazil/comunicados-de-imprensa/ha-32-milhoes-de-criancas-e-adolescentes-na-pobreza-no-brasil-alerta-unicef"> Saiba mais </a>
              </div>
          </div>
      </div>
      
      <div class="card-content">
          <a href="#">
              <h2>Crianças</h2>
              <p>Crianças em situações de pobreza extrema.</p>
          </a>
      </div>
  </div><!--Card-->
  
  <!--Teste foto 2-->
  <div class="card2">
    <div class="card-img" style="background-image:url('img/fome-no-mundo1.png')">
        <div class="overlay">
            <div class="overlay-content">
                <a href="https://www.associacaomma.org.br/cinco-formas-efetivas-de-ajudar-pessoas-em-situacao-de-rua/"> Saiba mais </a>
            </div>
        </div>
    </div>
    
    <div class="card-content">
        <a href="#">
            <h2>Pessoas</h2>
            <p>Moradores de rua precisam de ajuda.</p>
        </a>
    </div>
      </div><!--Card 2-->
  
    
    
</div>
</body>
</html>