<html><head>
  <title> Cadastro </title>
  <meta name="description" content="Aprenda a criar um site completo que usa formulários em HTML">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="login.css">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  </head>
  
  <body>
    <div class="cabeca">
        <h1>Help Center - LOGIN | <img id="im3" src="img/ma.png" alt="ams"></h1>

    </div>
    <!--Inicio Menu-->
    <div class="sidebar close">
      
        <div class="logo-details">
          
          <i class="bx bx-menu"></i>
          <span class="logo_name">Menu</span>
       
        </div>
        
        <ul class="nav-links">
            <!--Início-->
          <li>
            
            <a href="/">
              <i class='bx bx-grid-alt' ></i>
              <span class="link_name">Início</span>
            </a>
              
            <ul class="sub-menu blank">
              <li><a class="link_name" href="/">Início</a></li>
            </ul>
            
          </li>
          <!--Fim!-->
          <li>
            
            <a href="du">
              <i class='bx bx-pie-chart-alt-2' ></i>
              <span class="link_name">DUDH</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" href="du">DUDH</a></li>
            </ul>
          </li>
          <!--Posts-->
          
          <!--Fim!-->
          <li>
        
            <div class="profile-details">
              
              <div class="profile-content">
                <!--<img src="image/profile.jpg" alt="profileImg">-->
              </div>
              
              <div class="name-job">
                
                <div class="profile_name">Help Center</div>
                <div class="job">Login</div>
              
              </div>
              
              <i class="bx bx-log-out"></i>
            
            </div>
          
          </li>
        </ul>
      </div>
      <!--Fecha Menu-->
      <script>
  
        let arrow = document.querySelectorAll(".arrow");
        for (var i = 0; i < arrow.length; i++) {
          arrow[i].addEventListener("click", (e)=>{
         let arrowParent = e.target.parentElement.parentElement;
         arrowParent.classList.toggle("showMenu");
          });
        }
        
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".bx-menu");
        console.log(sidebarBtn);
        sidebarBtn.addEventListener("click", ()=>{
          sidebar.classList.toggle("close");
        });
    </script>
  <div class="login">
    <form class="formulario" method="post" action="/salvar">
        
        <h2 class="titulo">Sing up</h2>
        <label class="label">
            
            <input type="text" class="input-bordas" placeholder="Nome" name="nome" required="">
            <span class="focus-border"> <i></i> </span>
        
        </label>
        <label class="label">
            
            <input type="text" class="input-bordas" placeholder="sobrenome" name="sobrenome" required="">
            <span class="focus-border"> <i></i> </span>
        
        </label>
        <label class="label">
            
            <input type="text" class="input-bordas" placeholder="E-mail" name="email" required="">
            <span class="focus-border"> <i></i> </span>
        
        </label>
        <label class="label">
            
            <input type="password" class="input-bordas textarea" rows="4" placeholder="Senha" name="pass" required=""></textarea>
            <span class="focus-border"> <i></i> </span>
        
        </label>
        <label class="naoexibir">
            <span>Não preencher:</span><br>
            <input type="text" name="url" value=""></p>
        </label> 
        <label class="label">
            
            <input type="date" class="input-bordas textarea" rows="4" placeholder="Nascimento" name="dia" required=""></textarea>
            <span class="focus-border"> <i></i> </span>
        
        </label>
        <button class="button-form borda-inversa"> Enviar</button>
        <%=resultado%>
    </form>  
  </body></html>