<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="gpt" href="Aula 7 - 4° Bimestre/public/gpt.css">
</head>

<body>
    <h1>Void</h1>
    <span>teste de void - highway to the heaven.</span>
    <ul>
        <a href="obj">
            <li>Objetivos</li>
        </a>
        <a href="tec">
            <li>Tecnologias</li>
        </a>
        <a href="Port">
            <li>Portugol</li>
        </a>
        <a href="C">
            <li>C++</li>
        </a>
    </ul>

</body>

</html>