<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página dos Objetivos</title>
</head>

<body>
    <h1>Objetivos sugeridos</h1>
    <ol>
        <li>Aprender a programar;</li>
        <li>Concluir o Curso de Técnico em Informática;</li>
        <li>Ganhar uma grana trabalhando com TI;</li>
        <li>Comprar várias paradas (PS5).</li>
    </ol>
    <tt><a href="/"><- Voltar</a></tt>
</body>

</html>