<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página das Tecnologias</title>
</head>

<body>
    <h1>Tecnologias sugeridas</h1>
    <ol>
        <a href="Port"
        <li>Portugol Studio</li>
        </a>
        <li>C++</li>
        <li>JavaScript</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>Node.js</li>
        <li>Express.js</li>
        <li>EJS</li>
        <li>MongoDB</li>
        <li>React Native</li>
    </ol>
    <%- include('rodape') %>
    <tt><a href="/"><- Voltar</a></tt>
</body>

</html>