<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <title>Formulário</title>
</head>
<body>
    <h1>Formulário</h1>
        </form><br><html><head>
            <title>Formulário em HTML </title>
            <meta name="description" content="Aula 5">
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
            </head>
            
            <body>
            <form action="/app" method="post">
            <fieldset>
            <legend>Dados Pessoais</legend>
            <table cellspacing="10">
            <tbody><tr>
            <td>
            <label for="nome">Nome: </label>
            </td>
            <td align="left">
            <input type="text" name="nome">
            </td>
            <td>
            <label for="sobrenome">Sobrenome: </label>
            </td>
            <td align="left">
            <input type="text" name="sobrenome">
            </td>
            <td>
            <label for="cidade">Cidade: </label>
            </td>
            <td align="left">
            <input type="text" name="cidade">
            </td>
            <tr>
            <td>
            </tbody></table>
            <input type="submit">
            </fieldset>
            </form> 
            </body></html>