body{
    margin: 0;
    background-color: white;
    background-attachment: fixed;
    
}
.cabeca{
    background-color: rgb(0, 0, 0);
    padding: 20px;
    color: black;
    text-align: left;
    margin: 0;
    color: white;
}
.menu{
    background-color: rgb(128, 128, 128);
}
.menu a{
    background-color: #D9D9D9;
    color: white;
    text-decoration: none;
    display: block;
    float: left;
    padding: 1px 30px 1px 10px;
    
}
.menu a:hover{
    color: black;
    background-color: #D9D9D9;

}
.coluna-lateral-esquerda{
    color: white;
    margin: 15px 20px 25px 50px;
    box-sizing: border-box;
    width: 92%;
    background-color: #D9D9D9;
    padding: 230px;
    
}

.coluna-lateral-direita{
    color: white;
    margin: 15px 50px 75px 50px;
    float: right;
    box-sizing: border-box;
    width: 40%;
    background-color: #D9D9D9;
    padding: 230px;
}
.conteudo{
    clear: both;
    color: black;
    text-align: center;
    text-decoration: none;
}
#dudh{
    margin-left: 7%;
    margin-top: 5%;
    width: 85%;
    height: 40%;
}
#p1{
    font-size: 70%;
}
#hh1{
    text-decoration: none;
}