body{
        
       
    background-color: white;
    background-attachment: fixed;
    
}
.cabeca{
    margin: 0;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    color: black;
    text-align: left;
    color: white;
    
}
.menu{
    margin: 0%;
    background-color: #D9D9D9;
    
}
.menu a{
    margin: 0%;
    background-color: #D9D9D9;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    float: left;
    padding: 1px 30px 1px 10px;
    
}
.menu a:hover{
    color: white;
    background-color: black;

}
.coluna-lateral-esquerda{
    text-align: center;
    font-size: 15pt;
    margin-left: 2%;
    float: left;
    width: 550px;
    height: 815px;
    flex-shrink: 0;
    background-color: #D9D9D9;
}

.coluna-lateral-direita{
    text-align: center;
    font-size: 15pt;
    margin-left: 10%;
    float: left;
    width: 550px;
    height: 815px;
    flex-shrink: 0;
    background-color: #D9D9D9;
}
.conteudo{
    clear: both;
}
#im1{
    position: relative;
    top: 2%;
    width: 95%;
    height: 390px;

}
#im2{
    text-align: center;
    position: relative;
    top: 2%;
    width: 95%;
    height: 390px;
}
#im3{
    
}