body{
    margin: 0;
    background-color: white;
    background-attachment: fixed;
    
}
.cabeca{
    margin: 0%;
    background-color: rgb(0, 0, 0);
    padding: 1%;
    text-align: center;
    color: white;
    
}
.menu{
    margin: 0;
    background-color: #BDBDBD;
    
}
.menu a{
    margin: 0;
    background-color:#BDBDBD;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: inline-block;

    padding: 1px 30px 1px 10px;
    
}
.menu a:hover{
    color: white;
    background-color: black;

}
.coluna-lateral-esquerda{

    text-align: center;
    margin-top: 5%;
    font-size: 15pt;
    float: left;
    width: 30vw;
    height: 85vh;
    flex-shrink: 0;
    background-color: #D9D9D9;
}

.coluna-lateral-direita{

    margin-top: 5%;
    text-align: center;
    font-size: 15pt;
    float: left;
    width: 30vw;
    height: 85vh;
    background-color: #D9D9D9;
}
.conteudo{
    display: flex;
    justify-content: space-around;
    clear: both;
}
#im1{
    position: relative;
    top: 2%;
    width: 95%;
    height: 40%;
    
}
#im2{
    text-align: center;
    position: relative;
    top: 2%;
    width: 95%;
    height: 40%;
}
#im3{

    width: 3%;
}
#im4{
    float: right;
    width: 5%;
    
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: #11101d;
    z-index: 100;
    transition: all 0.5s ease;
  }
  .sidebar.close{
    width: 78px;
  }
  .sidebar .logo-details{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .sidebar .logo-details i{
    font-size: 30px;
    color: #fff;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
  }
  .sidebar .logo-details .logo_name{
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
  }
  .sidebar.close .logo-details .logo_name{
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
  }
  .sidebar .nav-links{
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;
  }
  .sidebar.close .nav-links{
    overflow: visible;
  }
  .sidebar .nav-links::-webkit-scrollbar{
    display: none;
  }
  .sidebar .nav-links li{
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
  }
  .sidebar .nav-links li:hover{
    background: #1d1b31;
  }
  .sidebar .nav-links li .iocn-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar.close .nav-links li .iocn-link{
    display: block
  }
  .sidebar .nav-links li i{
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .sidebar .nav-links li.showMenu i.arrow{
    transform: rotate(-180deg);
  }
  .sidebar.close .nav-links i.arrow{
    display: none;
  }
  .sidebar .nav-links li a{
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  .sidebar .nav-links li a .link_name{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    transition: all 0.4s ease;
  }
  .sidebar.close .nav-links li a .link_name{
    opacity: 0;
    pointer-events: none;
  }
  .sidebar .nav-links li .sub-menu{
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background: #1d1b31;
    display: none;
  }
  .sidebar .nav-links li.showMenu .sub-menu{
    display: block;
  }
  .sidebar .nav-links li .sub-menu a{
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
  }
  .sidebar .nav-links li .sub-menu a:hover{
    opacity: 1;
  }
  .sidebar.close .nav-links li .sub-menu{
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
  }
  .sidebar.close .nav-links li:hover .sub-menu{
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
  }
  .sidebar .nav-links li .sub-menu .link_name{
    display: none;
  }
  .sidebar.close .nav-links li .sub-menu .link_name{
    font-size: 18px;
    opacity: 1;
    display: block;
  }
  .sidebar .nav-links li .sub-menu.blank{
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
  }
  .sidebar .nav-links li:hover .sub-menu.blank{
    top: 50%;
    transform: translateY(-50%);
  }
  .one {
    width: 80%;
    margin-left: 10%;
    background-color: black;
    height: 400px;
  }
  .sidebar .profile-details{
    position: fixed;
    bottom: 0;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1d1b31;
    padding: 12px 0;
    transition: all 0.5s ease;
  }
  .sidebar.close .profile-details{
    background: none;
  }
  .sidebar.close .profile-details{
    width: 78px;
  }
  .sidebar .profile-details .profile-content{
    display: flex;
    align-items: center;
  }
  .sidebar .profile-details img{
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 12px;
    background: #1d1b31;
    transition: all 0.5s ease;
  }
  .sidebar.close .profile-details img{
    padding: 10px;
  }
  .sidebar .profile-details .profile_name,
  .sidebar .profile-details .job{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
  }
  .sidebar.close .profile-details i,
  .sidebar.close .profile-details .profile_name,
  .sidebar.close .profile-details .job{
    display: none;
  }
  .sidebar .profile-details .job{
    font-size: 12px;
  }
  .bx-menu { cursor:pointer; }
  @media (max-width: 420px) {
    .sidebar.close .nav-links li .sub-menu{
      display: none;
    }
  }



  .card {
  
    margin: 10%;
    width: 28%;
    display: block;
    border-radius: 4px;
    box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
    background: #fff;
    position: relative;
    overflow: hidden;
    float: left;
    
  }
  .card:hover, .card.hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.3), 0 0 1px 0 rgba(0, 0, 0, 0.25);
  }
  .card:hover .card-content, .card.hover .card-content {
    box-shadow: inset 0 3px 0 0 #007cff;
    border-color: #007cff;
  }
  .card:hover .card-img .overlay, .card.hover .card-img .overlay {
    background-color: rgba(25, 29, 38, 0.85);
    transition: opacity 0.2s ease;
    opacity: 1;
  }
  .card-img {
    position: relative;
    height: 224px;
    width: 100%;
    background-color: #fff;
    transition: opacity 0.2s ease;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .card-img .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
  }
  .card-img .overlay .overlay-content {
    line-height: 224px;
    width: 100%;
    text-align: center;
    color: #fff;
  }
  .card-img .overlay .overlay-content a {
    color: #fff;
    padding: 0 2rem;
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.4);
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
  }
  .card-img .overlay .overlay-content a:hover, .card-img .overlay .overlay-content a.hover {
    background: #007cff;
    border-color: #007cff;
  }
  .card-content {
    width: 100%;
    min-height: 104px;
    background-color: #fff;
    border-top: 1px solid #007cff;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 1rem 2rem;
    transition: all 0.2s ease;
  }
  .card-content a {
    text-decoration: none;
    color: #202927;
  }
  .card-content h2, .card-content a h2 {
    
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 5px;
    color: #007cff;
  }
  .card-content p, .card-content a p {
    font-size: 0.8rem;
    font-weight: 400;
    overflow: hidden;
    color: rgba(32, 41, 28, 0.8);
  }



  .card2 {
  
    margin: 10%;
    width: 28%;
    display: block;
    border-radius: 4px;
    box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
    background: #fff;
    position: relative;
    overflow: hidden;
    float: left;
  }
  .card2:hover, .card.hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.3), 0 0 1px 0 rgba(0, 0, 0, 0.25);
  }
  .card2:hover .card-content, .card.hover .card-content {
    box-shadow: inset 0 3px 0 0 #007cff;
    border-color: #007cff;
  }
  .card2:hover .card-img .overlay, .card.hover .card-img .overlay {
    background-color: rgba(25, 29, 38, 0.85);
    transition: opacity 0.2s ease;
    opacity: 1;
  }
  .card-img {
    position: relative;
    height: 224px;
    width: 100%;
    background-color: #fff;
    transition: opacity 0.2s ease;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .card-img .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
  }
  .card-img .overlay .overlay-content {
    line-height: 224px;
    width: 100%;
    text-align: center;
    color: #fff;
  }
  .card-img .overlay .overlay-content a {
    color: #fff;
    padding: 0 2rem;
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.4);
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
  }
  .card-img .overlay .overlay-content a:hover, .card-img .overlay .overlay-content a.hover {
    background: #007cff;
    border-color: #007cff;
  }
  .card-content {
    width: 100%;
    min-height: 104px;
    background-color: #fff;
    border-top: 1px solid #007cff;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 1rem 2rem;
    transition: all 0.2s ease;
  }
  .card-content a {
    text-decoration: none;
    color: #202927;
  }
  .card-content h2, .card-content a h2 {
    
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 5px;
    color: #007cff;
  }
  .card-content p, .card-content a p {
    font-size: 0.8rem;
    font-weight: 400;
    overflow: hidden;
    color: rgba(32, 41, 28, 0.8);
  }




  