<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educação Move o Mundo</title>
    <link rel="stylesheet" href="portal.css">
</head>
<body>
    <div id="container">
        <header class="cabecalho">
            <div class="centralizar">
                <h1>Educação Move o Mundo</h1>
            </div>
        </header>

        <section class="options">
            <div class="textos">
                <a href="/">
                    <h1>Início</h1>
                </a>
            </div>
            <div class="textos">
                <a href="de">
                    <h1>Portal</h1>
                </a>
                
            </div>
            <div class="textos">
                <a href="desk">
                    <h1>Inscrições</h1>
                </a>
                
            </div>
        </section>
    <div class="conteudo">
        <div class="coluna-lateral-esquerda"> 
            <p>Exemplo de como adicionar dados de uma criança que não esteja estudando</p>
        </div>
        <div>
            <img src="img\mundo.png" alt="World">
        </div>
    </div>
</body>
</html>