<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="style" href="Exercício - localhost\style.css">
</head>

<body>
    <h1>SpiderVerse</h1>
    <span>the best spiders</span>
    <ul>
        <a href="morales">
            <li>Miles Morales</li>
        </a>
        <a href="o'hara">
            <li>miguel o'hara</li>
        </a>
        <a href="stacy">
            <li>Gwen Stacy</li>
        </a>
    </ul>

</body>

</html>