<ol>
    <h1>miguel o'hara</h1>
    <img id="miguel" src="https://i.pinimg.com/originals/ab/3a/7f/ab3a7f3261411e4348294c60f47a4e99.gif" width="500" height="300"/>
</ol>
<tt><a href="/"><- Voltar</a></tt>