<ol>
    <h1>Miles Morales</h1>
    <img id="Miles" src="https://i.pinimg.com/originals/e2/37/67/e23767638fb72ccea204eab108555e82.gif" width="600" height="300"/>
</ol>
<tt><a href="/"><- Voltar</a></tt>